# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env
.env.*

# Editor
.vscode/
.idea/

# OS
.DS_Store

# Docker
*.log

# Poetry / Pipenv
.poetry/
Pipfile.lock
poetry.lock

# Project artifacts and downloaded CI artifacts
artifacts/
download_artifacts/
